<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Trabajo</th>
      <th>Ubicacion</th>
      <th>Sueldo</th>
      <th>Part-Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ayudante x</td>
      <td>Bellavista 15</td>
      <td>$200.000</td>
      <td>Si</td>
      <td>
        <a>Postular</a>
      </td>
    </tr>
    <tr>
      <td>Ayudante x</td>
      <td>Bellavista 15</td>
      <td>$300.000</td>
      <td>Si</td>
      <td>
        <a>Postular</a>
      </td>
    </tr>
    <tr>
      <td>Ayudante x</td>
      <td>Bellavista 15</td>
      <td>$100.000</td>
      <td>Si</td>
      <td>
        <a>Postular</a>
      </td>
    </tr>
    <tr>
      <td>Ayudante x</td>
      <td>Bellavista 15</td>
      <td>$400.000</td>
      <td>Si</td>
      <td>
        <a>Postular</a>
      </td>
    </tr>
  </tbody>
</nz-table>