<nz-descriptions nzTitle="Datos de usuario" nzLayout="vertical">
  <nz-descriptions-item nzTitle="Nombre">Gustavo Morales</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Telefono">+56989191554</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Discapacidad">Ninguna</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Estado">Activo</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Direccion">
    Clemente Diaz #440, Santiago
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Curriculum">Archivado</nz-descriptions-item>
</nz-descriptions>

<div class="button">
  <button nz-button nzType="primary">Editar</button>
</div>